#section1 {
  background-color: #e9e9e9;
}

.nav-item a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #191919;
  margin-right: 20px;
}

.nav-item a:hover {
  color: #10c9c3;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #191919;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #191919;
}
.header {
  width: 40%;
  margin-top: 110px;
  margin-left: auto;
  margin-right: 70px;
}

.header p {
  color: #787878;
  font-size: 1.2rem;
  width: 80%;
  margin: 30px 0;
}

.btn {
  color: #fff;
  background-color: #10c9c3;
  margin-bottom: 150px;
  padding: 10px 50px;
}

.header .btn:hover {
  background-color: #65ebe8;
}

.hamberger {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: black;
}

.hamberger::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 6px;
  right: 0px;
  background-color: black;
}

.hamberger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: -6px;
  right: 0px;
  background-color: black;
}

#section2 div {
  width: 60%;
  margin: 100px auto;
  text-align: center;
  line-height: 2;
}

#section2 p {
  width: 80%;
  margin: 20px auto;
  font-size: 1.2rem;
}

#section2 img {
  margin-top: 50px;
}
#section3 span {
  margin-left: 12px;
}
#section3 .left {
  background-color: #f8f9f9;
}
.left h2 {
  margin: 120px 0px 60px 120px;
}
.left ul {
  margin: 0px 0px 120px 120px;
  padding-left: 0;
}

#section3 .right {
  background-color: #e9e9e9;
}
#section3 ul {
  list-style-type: none;
}
.w3-light-grey {
  width: 70%;
  margin: 20px auto 20px 0;
  background-color: #d7d7d7 !important;
}

.w3-grey {
  background-color: #10c9c3 !important;
}

#section4 {
  background-color: #10c9c3;
  color: white;
}

#section4 p {
  font-size: 1.2rem;
}
#section4 .row {
  padding: 50px 25px;
}

#section4 .col-md-4 {
  display: flex;
  justify-content: center;
}

#section4 .col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section5 div {
  width: 60%;
  margin: 100px auto 0 auto;
  text-align: center;
  line-height: 2;
  margin-bottom: 100px;
}

#section5 p {
  width: 80%;
  margin: 20px auto;
  font-size: 1.2rem;
}

.box-iframe {
  width: 100%;
  height: 35vh;
}

#section5 iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

#section6 {
  padding: 2% 0;
  background-color: #e9e9e9;
}

#section6 .col-md {
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#section6 img {
  width: 50%;
}

#section7 .container {
  width: 80%;
  margin: 80px auto 0 auto;
  text-align: center;
}

#section7 p {
  width: 60%;
  margin: 5% auto;
}

#section7 form {
  width: 55%;
  margin: 5% auto;
}

#section7 .row {
  display: flex;
  justify-content: space-between;
}

#section7 .col-md{
  margin: 15px 0;
}

#section7 .form-group {
  margin: 15px 0;
}

#section7 .textarea {
margin: 30px 0;
height: 400px;
min-height: 320px;
}

#footer {
  background-color:#141414;
  color: #FFF;
  padding-top: 50px;
}

#footer .box{
  margin: 0px 0px 20px 0px;
}

#footer h2{
  color: #FFF;
}
#footer a:hover{
  color: #b7b7b7;
  text-decoration: none;
}


@media (max-width: 767.98px) {
  .header {
    width: 80%;
    margin: 110px auto 0 auto;

    text-align: center;
  }
  .header h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .header p {
    margin: 60px auto;
  }
  #section2 div {
    width: 90%;
    line-height: 2.5;
  }

  #section2 p {
    width: 90%;
  }
  .left h2 {
    margin: 60px auto 0px 60px;
  }

  .left ul {
    margin: 60px auto 60px 60px;
  }
  #section5 div {
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
    
  }

  #section7 .container {
    width: 100%;
  }
  
  #section7 p {
    width: 80%;
  }
  
  #section7 form {
    width: 100%;
  }


}
